html,body,#root,.App{
    height: 100%;
    width:100%;
}
.login-bg{
    width:100%;
    height:100%;
    background: url("../images/background.jpg");
    background-size: 100% 100%;
}
.login-language{
    width: 100%;
    text-align: right;
}
.checked-language{
    display: inline-block;
    margin-right: 6rem;
    width: 7rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border:1px solid #fff;
    margin-top: 1.8rem;
    border-radius: 0.5rem;
    transition: all .2s linear;
    cursor: pointer;
}
.language-list{
    position: absolute;
    top:4rem;
    margin-right: 6rem;
    transition: all .3s linear;
    cursor: pointer;
}
.language-list>li{
    height: 2.5rem;
    width: 100px;
    line-height: 2.2rem;
    text-align: center;
}
.language-list>li:hover{
    color: #affafa;
}
.login-body{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width:28%;
    height: 34%;
    background:rgba(255,255,255,.5);
    text-align: center;
}
.login-body .inputWidth{
    width: 60%;
}
.login-title{
    font-size:1.8rem;
    font-weight: normal;
    padding: 0;
}
#btn{
    width: 30%;
    font-size: 1.3rem;
    background: #1976d2;
    margin-top: 2rem;
}
.pw-problem{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 1.5rem;
}